<h1>Care &amp; Use</h1>

<h3>Instructions for use:</h3>
<p>
	To begin using your bubi bottle, rinse and fill with your favorite beverage, hot or cold!
</p>	
<h3>Using and cleaning your bubi bottle</h3>
<h3>Cleaning</h3>
<p>
	Whether you are obsessed with scrubbing your bubi or a casual scrubber, your bubi is made from material that does not create germs.
</p>
<p>	
Strip down your bubi, twist off the cap, use your fingernail and place under the inside retainer lip and pry up, and take off the thread ring, it is now ready for the dishwasher or liquid detergent.
Now that you have a clean bubi, reassemble, the threads first, then the retainer ring (it is best to wet the retainer) be sure it fits below the lip as the lip is your seal, 
Fill it with your favorite beverage and twist on the cap.
</p>
<h3>Use</h3>
<p> 
	The convenience of the bubi bottle is its scrunchibility, as you consume your favorite beverage, and the need for a smaller bubi becomes evident (you will know) squeeze out the air and pack it away, 
</p>
<p>
	When depleting by bubi of all my beverage, I use my palm gently collapse my bubi against something, leg, body or table, making sure the carabineer is parallel to the crease.
</p>
<p>	
	To conveniently store your bubi,  roll it up, starting at the base, with the cap off to get all the air out, now place the coiled portion inside the carabineer, replace the cap.
</p>