<h1>Bübi Bottle</h1>
<p>
	Introducing the bubi bottle; the world’s first scrunchable water bottle. Specially designed for active lifestyles, 22oz bottle when full, collapses to a fraction of it’s size when empty. Perfect for work, school, gym, running, hiking, biking boating… 
</p>	

<%#= link_to("Video", "http://www.youtube.com/watch?v=3bcH3DxPjV0")%>

<iframe width="560" height="315" src="http://www.youtube.com/embed/3bcH3DxPjV0?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>