<div id="cart">
</div>	
<div id="big_bottle">
	<!-- js place holder for bottle transitions  -->
</div>	
<% if params[:action] == "buy" %>
	<%= render :partial => "cart", :locals => { :cart => @cart, :notice => notice }%>
<% else -%>
	<div id="buy_now">
		<%= link_to("Buy Now!", "/buy", :class => "button")%>
	</div>
<% end -%>		