<div id="cart">
</div>	
<div id="big_bottle">
	<!-- js place holder for bottle transitions  -->
</div>	
<% unless params[:action] == "buy" %>
	<div id="buy_now">
		<%= link_to("Buy Now!", "/buy", :class => "button")%>
	</div>
<% end -%>		