<%= image_tag("http://placehold.it/250x450&text=Big%20Bübi%20Bottle")%>
<% unless params[:action] == "buy" %>
	<div id="buy_now">
		<%= link_to("Buy Now!", "/buy", :class => "button")%>
	</div>
<% end -%>		