<div class="clear"></div>
<div id="footer" class="grid_5 prefix_11">	
	<ul id="socialicons">
    <li class="facebook"><%= link_to("", "http://www.facebook.com/pages/B%C3%BCbi-Bottle/246807152012637")%> </li>
		<li class="twitter"><%= link_to("", "http://www.twitter.com")%></li>
		<li class="email"><%= mail_to("feedback@bubibottle.com", "")%></li>
	</ul>
	
</div>
